---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Catalog">
	<h1>Catalog</h1>

	
	<ul>
		<li><a href="/catalog/sweatshirts">Толстовки</a></li>
					<li><a href="/catalog/pants">Брюки</a></li>
					<li><a href="/catalog/jackets">Куртки</a></li>
					<li><a href="/catalog/tshirts">Футболки</a></li>
					<li><a href="/catalog/fleece">Флис</a></li>
					<li><a href="/catalog/shorts">Шорты</a></li>
					<li><a href="/catalog/accessories">Аксессуары</a></li>
	</ul>
</Layout>

<style>
	ul {
		display: flex;
		justify-content: center;
		gap: 14px;
	}

	ul > li {
	list-style: none;

	& > a {
    text-decoration: none;
    color: initial; 
    border-bottom: 2px solid transparent; 
    padding-bottom: 4px; 
    transition: border-color 0.2s ease;

    &:hover {
        border-color: initial;
    }
	}

}

</style>


