---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Каталог">
	<h1>Каталог</h1>

	
	<ul>
		<li><a href="/catalog/sweatshirts">Талстоўки</a></li>
		<li><a href="/catalog/pants">Штаны</a></li>
		<li><a href="/catalog/jackets">Курткі</a></li>
		<li><a href="/catalog/tshirts">Футболкі</a></li>
		<li><a href="/catalog/fleece">Фліс</a></li>
		<li><a href="/catalog/shorts">Шорты</a></li>
		<li><a href="/catalog/accessories">Аксэсуары</a></li>
		<li><a href="/sale">Зніжкі</a></li>
	</ul>
</Layout>

<style>
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		place-items: center;
		gap: 14px;
	}

	ul > li {
	list-style: none;	

	& > a {
    text-decoration: none;
    color: initial; 
    border-bottom: 2px solid transparent; 
    padding-bottom: 4px; 
    transition: border-color 0.2s ease;

    &:hover {
        border-color: initial;
    }
	}

}

</style>


