---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Пра нас">
		<span class="tags">Outdoor. City. Sport. Travel.</span>
		<h1>Lifestyle Clothing Brand</h1>
		<p>
			OCST - лакальная марка адзення і аксесуараў для гарадскога асяроддзя і актыўнага адпачынку.
		</p>
</Layout>

<style>
	h1, span, p {
		text-align: center;
	}

	.tags {
		display: block;
		text-transform: uppercase;
		margin-bottom: 40px;
		font-weight: 500;
		font-size: 20px;
	}

	h1 {
		margin-bottom: 40px;
		font-size: 44px;
	}

	p {
		font-size: 23px;
	}
	
</style>
