---

---

<footer>
	<nav>
		<ul>
			<li><a href="/about-shop">Аб краме</a></li>	
			<li><a href="/delivery">Аплата і дастаўка</a></li>
			<li><a href="/return">Абмен і вяртанне</a></li>
			<li><a href="/documents">Дакументы</a></li>
			<li><a href="/contacts">Кантакты</a></li>
		</ul>
	</nav>
	<div>
		<p class="creds"> "АЎТКАСТ", УНП 000000000, Рэспубліка Беларусь, Менск, 000000, праспект Незалежнасці, дом 00, корпус 0, кабінет 000. Сведчанне 0000000 00.00.00 Менскі гарвыканкам. <br>Дата рэгістрацыі інтэрнэт-крамы ў Гандлёвым рэестры РБ: 00.00.00, нумар 000000. Рэжым працы крамы: 11:00 - 20:00 без выходных. Тэл.: +375(00)000-00-00. Е-mail: info@ocst-clone.org</p>
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		padding: 0 30px;
		margin: 20px 0;
	}

	.logo {
		font-size: 32px;
		font-weight: 900;
		font-style: italic;
	}

	.logo  > a:hover {
		color: initial;
	}

	ul {
		display: flex;
		place-items: center;
		gap: 20px;
	}

	ul > li {
	list-style: none;	
	font-weight: 500;

		& > a {
			text-decoration: none;
			color: initial; 
			border-bottom: 2px solid transparent; 
			padding-bottom: 4px; 
			transition: border-color 0.2s ease;

			&:hover {
				border-color: initial;
			}
		}
	}

	.creds {
		text-align: center;
		font-weight: 300;
		font-size: 14px;
	}
</style>