---
import { getCollection } from 'astro:content'
import Item from '../../components/Item.astro'
import ItemsWrapper from '../../components/ItemsWrapper.astro'
import Layout from '../../layouts/Layout.astro';

const all = await getCollection('products')
const newItems = all.filter(p => p.data.isNew)
---

<Layout title="Навінкі">
	<h1>Навінкі</h1>

	<ItemsWrapper>
		{newItems.map(i => <Item item={i} />)}
	</ItemsWrapper>
</Layout>
